@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    --color-primary: #F6FF00;
    --color-tint: #949494;
    --color-tintLight: #fafafa;
    --color-background: #020202;
    --color-card: #121212;
    --color-border: #1d1d1d;
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .flex-start {
        @apply flex items-start justify-center;
    }
}

@layer components {
    .input {
        @apply rounded-lg p-3 w-full h-14 text-base text-white border-2 border-[#151515];
    }
}